div {
    background-color: rgb(255, 0, 0);

    p {
        font-size: 400px !important;

        span{
            font-weight: 600px;
        }

        a {
            text-decoration: none;
        }
    
    
    
    }


}

